{% extends 'base.html' %}

{% block content %}
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Change password</h3>
                    <form class="requires-validation" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-button mt-4">
                            <button id="submit" type="submit" class="btn-primary btn-block">Submit</button>
                        </div>
                    </form>
                    <a href="{% url 'dashboard' %}">Back to dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}